@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"poppins";
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex:1;
    margin: 0;
    width: 100%;
}

header {
   width: 100%;
   background-color: #846D5B;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    flex-wrap: wrap;
}
.logo{
    max-width: 300px;
    margin-top: 3rem;
    
}

.header__ham-menu {
    margin-top: -1em;
    width: fit-content;
    display: none;
    font-size: 2.5em;
  }
  
.header__menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    padding-left: 4rem;
    font-size: 2.5rem;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: white;
    }

.menu__item{
        font-weight: 300;
    }

a:hover{
    color: #BDD9C0;
}

.hero__image-container{
    display: flex;
    max-width: 100vw;
    
    img{
        width: 100%;
        object-fit: cover;
        flex-wrap: wrap;
    }
}
.hero__text-container{
    position: absolute;
    top: 60%;
    left: 5%;
    max-width: 620px;
    margin-left: 5em;
    display: flex;
    flex-wrap: wrap;
}
.hero__text-title{
    font-size: 96px;
    color: #BDD9C0;
}
.hero__text{
    font-size: 43px;
    color: white;
}
.hero__text,p{
font-weight: 500;
}

.booking__button{
   width:10em;
   padding: 1em;
   height: fit-content;
   margin-top: 1rem;
   border-radius: 15px;
   background-color: #BDD9C0;
   border-style: none;
   font-size: 1.7em;
   font-weight: 500;
   transition: background-color 0.3s ease;
}
.booking__button:hover{
    background-color: #846D5B;
    color: white;
    cursor: pointer;
}
.sub__image-container{
        display: flex;
        flex-direction: row;
        align-items: center; /* Aligns items vertically */
        justify-content: space-between; /* Keeps space between the image and text */
        margin-top: 3em;
        flex-wrap: wrap;
    
}

   .sub__hero-image{
    position: relative;
    width: 700px;
    height: 700px;
    margin-left: 2rem;
    border-radius: 75px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sub__text-container{
    display: flex;
    flex-direction: column; 
    margin-left: 1rem;
    padding-right: 2rem;
    max-width: 600px;
    align-items: center;
}

.sub__text-title{
    font-weight:700;
    font-size: 46px;
    color: #BDD9C0;

}
.sub__text{
    font-size: 36px;
    font-weight: 300;
    margin-top: 0;
    text-align: center;
}

.our__rooms-button{
    align-self: center;
    width:10em;
    padding: 1em;
    margin-top: 2rem;
    border-radius: 15px;
    background-color:#846D5B;
    border-style: none;
    font-size: 1.7em;
    font-weight: 500;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.our__rooms-button:hover{
    color: black;
    background-color: #BDD9C0;
    cursor: pointer;
}

.green__container{
    margin: auto;
    background-color: #BDD9C0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 380px;
    margin-top: 5rem;
    max-width: 100%; 
    border-radius: 50px;
}

.green__container-title{
    color: #846D5B;
    font-size: 46px;
    font-weight: 600;
    padding-top: 2rem;
}

.green__container-text{
    max-width: 85%;
    font-size: 38px;
    font-weight: 400;
    margin: auto;
    padding-bottom: 3rem;
}

.ai__energy-luxury-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap:10rem;

}

.ai__icon,.energy__icon,.luxury__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 30%;
}

.icon__1, .icon__2, .icon__3{
    background-color:#EDEDED;
    width: 90px;
    height: 90px;
    padding: 18px;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.ai__text-title,.energy__text-title,.luxury__text-title{
    padding-top:2rem ;
}

.ai__text,.energy__text,.luxury__text{
    font-weight: 500;
}

.brown__container{
    display: flex;
    background-color: #846D5B;
    height: 289px;
    justify-content: space-between;
}

.brown__text{
    align-self: center;
    font-size: 30px;
    padding: 1rem;
    color: white;
}

.brown__container-button{
    align-self: center;
    width:10em;
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    background-color:#846D5B;
    border-style: none;
    font-size: 1.7em;
    font-weight: 500;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    transition: background-color 0.3s ease;
}

.brown__container-button:hover{
background-color: #BDD9C0;
cursor: pointer;
}


footer {
    display: flex;
    background-color: white;
    justify-content: center;
    margin-top: auto;
    flex-wrap: wrap;
    p,
    address {
      font-size: 0.8em;
      margin-top: 0.4em;
    }
  }
  
  .footer__text {
    color: black;
    margin-top: 3em;
  }
  
  .footer__info-container {
    display: flex;
    text-align: center;
    width:84%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 2rem;
  }
  
  .footer__logo {
        width: 190px;
        object-fit: contain;
      }
    
  
  .footer__icons {
    color: black;
    margin-top: 2em;
    margin-left:.5rem;
    img {
      height: 3em;
    }
  }


  /* ----------- Our rooms ----------- */

  .rooms__and-suits{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:5rem;
  }

  .rooms__and-suits-title{
    color: #846D5B;
    font-size: 43px;
    font-weight: 700;
  }

  .rooms__and-suits-text{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
  }

  .rooms__options {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto; 
    gap: 20px; 
    padding: 1rem;
}

.room__1 {
    grid-column: span 2; 
    grid-row: span 1;
    
}

.room__2 {
    grid-column: span 2;
    grid-row: span 1;
}

.room__3 {
    grid-column: span 2;
    grid-row: span 1;
}

.room__4 {
    grid-column: span 3; 
    grid-row: span 1;
}

.room__5 {
    grid-column: span 3; 
    grid-row: span 1;
}

.room__6 {
    grid-column: span 6;
    grid-row: span 1;
}

.room__1:hover{
    transform: scale(1.07);
    
}
.room__2:hover{
        transform: scale(1.07);
}
.room__3:hover{
        transform: scale(1.07);
}
.room__4:hover{
    transform: scale(1.04);
}
.room__5:hover{
    transform: scale(1.04);
}
.room__6:hover{
    transform: scale(1.02);
}

.room__1 img,
.room__2 img,
.room__3 img,
.room__4 img,
.room__5 img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}
.room__6 img {
    width: 100%;
    height:30%;
    border-radius: 10px; 
    object-fit: cover; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.rooms__options aside {
    position: relative; 
    display: flex;
    align-items: center;
}

.rooms__options img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover; 
    display: block; 
}

.image__text-1, .image__text-2, .image__text-3 {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 1.6rem; 
    font-weight: 300; 
    border-radius: 5px; 
    text-align: center; 
}

.image__text-4, .image__text-5{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 300;
    border-radius: 5px; 
    text-align: center; 
}

.image__text-6{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 2.5rem; 
    font-weight: 400; 
    border-radius: 5px; 
    text-align: center; 
}

/* ----------- Booking page ----------- */

.booking__page-hero-image-container{
    display: flex;
    max-width: 100vw;
    
    img{
        width: 100%;
        object-fit: cover;
    }
}

.booking__page-hero-text-container{
    position: absolute;
    top: 60%;
    left: 5%;
    max-width: 970px;
    margin-left: 5em;

}
.booking__page-hero-text-title{
    font-size: 96px;
    color: #BDD9C0;
}
.booking__page-hero-text{
    font-size: 43px;
    color: white;
}

.booking__page-hero-text,p{
    font-weight: 500;
    }

    .booking__date-container{
        padding: 2rem;
        border-radius: 4px;
        position: relative;
        display: flex;
        justify-content: center;
    
    }

    .guest__container,
    .check__in-container,
    .check__out-container{
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #846D5B;
        
    }

    .guest__text,
    .check__in-text,
    .check__out-text{
        text-align: center;
        padding: 1.4rem;
        margin-right: 4rem;
        margin-left: 2rem;
        color: white;
        font-size: 20px;
    }

    .select__text{
        display: flex;
        justify-content: center;
        padding: 2rem;
        font-size: 43px;
        font-weight: 600;
    }
    .first__room-container,.seconde__room-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #EDEDED;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.first__room,.seconde__room {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem; 
    width: 100%;
}

.first__room img {
    max-width: 50%; 
    height: auto;
    border-radius: 10px; 
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.seconde__room img {
    max-width: 50%; 
    height: auto;
    border-radius: 10px; 
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.first__room-text-container,.seconde__room-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    flex: 1;
    padding: 1rem;
}

.first__room-title,.seconde__room-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.first__room-text,.seconde__room-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.first__room-price,.seconde__room-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.first__room-button,.seconde__room-button {
    background-color: #C8DFC8;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.first__room-button:hover {
    background-color: #846D5B;
    color: black;

}
.seconde__room-button:hover {
    background-color: #846D5B;
    color: black;

}

@media (max-width: 1265px) {

    .booking__page-hero-text-title{
        font-size: 72px;
    }

    .booking__page-hero-text{
        font-size: 36px;
    }

    .hero__text-container {
        margin-left: 1rem;
        top: 50%;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .header__menu {
        font-size: 2rem;
        padding-left: 0;
    }

    .hero__text-title {
        font-size: 72px;
    }

    .hero__text {
        font-size: 36px;
    }
    .booking__button{
        font-size: 1.3rem;
    }

    .sub__hero-image {
        width: 100%;
        margin-left: 0;
        
    }

    .sub__text-container{
        padding-top: 1rem;
       margin: auto;
       padding-left: 2rem;
    }

    .sub__text-title {
        font-size: 38px;
    }

    .sub__text {
        font-size: 28px;
    }

    .ai__energy-luxury-container {
        flex-direction: row;
        font-size: 14px;
        gap: 4rem;
    }

    .brown__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .brown__container-button{
        padding-left: 1rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer__info-container {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    .booking__page-hero-text-container{
        margin-left: 1rem;
        top: 50%;
    }

    .hero__text-container {
        margin-left: 2rem;
    }

    .header__menu {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .green__container-title {
        font-size: 36px;
    }

    .green__container-text {
        font-size: 28px;
    }

    .guest__text,
    .check__in-text,
    .check__out-text {
        font-size: 14px;
        margin: 0;
    }

    .rooms__options {
       display: flex;
       flex-direction: column;
    }

    .first__room img,
    .seconde__room img {
        width: 100%;
    }
}

@media (max-width: 885px) {
    .hero__text-container {
        margin-left: 1rem;
        top: 50%;
    }


    .hero__text-title {
        font-size: 52px;
    }

    .hero__text {
        font-size: 30px;
    }

    .header__menu {
       gap: 1rem;
       flex-direction: row;
    }


    .sub__text-title {
        font-size: 32px;
    }

    .sub__text {
        font-size: 22px;
    }

    .rooms__options {
        grid-template-columns: repeat(1, 1fr);
    }

    .ai__energy-luxury-container {
        gap: 3rem;
    }

}

@media (max-width: 683px) {
    .hero__text-container {
        margin-left: 1rem;
        top: 45%;
    }


    .booking__date-container {
        flex-direction: column;
    }

    .guest__text,
    .check__in-text,
    .check__out-text {
        font-size: 16px;
        margin: 0;
    }

    .first__room-container,
    .seconde__room-container {
        padding: 1rem;
    }

    .rooms__options img {
        height: auto;
    }

    .green__container-title {
        font-size: 28px;
    }

    .green__container-text {
        font-size: 20px;
    }

    .ai__energy-luxury-container {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        gap: 4rem;
    }


    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer__info-container {
        flex-direction: column;
    }
}

@media (max-width: 587px) {

    .booking__page-hero-text-title{
        font-size: 34px;
    }

    .booking__page-hero-text{
        font-size: 20px;
    }
    .header__menu {
        display: none;
    }

    .hero__text-container {
        margin-left: 1rem;
        top: 40%;
    }

    .booking__button {
        font-size:.8rem
        
    }

    .header__ham-menu {
        position: absolute;
        display: block;
        margin-right: -70%;
        padding-top: 4rem;
      }

      .logo{
        display: flex;
        align-self: flex-start;
        padding-top: 20px;
        padding: 1rem;
        padding-bottom: 3rem;
      }

    .our__rooms-button,
    .brown__container-button {
        font-size:1.2rem;
    }
    .brown__text{
        font-size: 1.5rem;
    }

    .hero__text-title {
        font-size: 34px;
    }

    .hero__text {
        font-size: 21px;
    }

    .ai__energy-luxury-container {
        flex-direction: row;
        font-size: 10px;
        gap: 2rem;
    }
    
    .icon__1,.icon__2,.icon__3{
        width: 70px;
        height: 70px;
    }

    .footer__logo {
        padding-left: 1rem;
        padding-top: 1rem;
        width: 150px;
    }

    .rooms__and-suits-title{
        font-size:30px;
    }

    .rooms__and-suits-text{
        font-size: 24px;
    }

}

@media (max-width: 417px){
    .booking__page-hero-text-container{
        top: 35%;
    }
    .hero__text-container {
        margin-left: 1rem;
        top: 32%;
    }
    .rooms__and-suits-title{
        font-size:22px;
    }

    .rooms__and-suits-text{
        font-size: 18px;
    }

    .sub__text-title {
        font-size: 26px;
    }
}
